@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #f5f5f5;
    color: #444;
}

