@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.mascara {
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
}

.destaque {
    display: inline-block;
}